*{
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    background-color:rgb(255, 192, 242);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    cursor: pointer;
    color: blueviolet;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
h1{
  color: blue;
}
h2{
  color: palevioletred;
}
h3{
  color: black;
}
h4{
  color: black;
}
p{
  color: darkblue;
  
}
